server:
  port: 8085
  servlet:
    context-path: /notification-service
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092
  mail:
    host: localhost
    port: 1025
management:
  endpoints:
    web:
      exposure:
        include: health,info
