server:
  port: 8080
spring:
  application:
    name: gateway
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: turf
          uri: http://localhost:8082
          predicates:
            - Path=/api/turfs/**
          filters:
            - StripPrefix=1
        - id: booking
          uri: http://localhost:8083
          predicates:
            - Path=/api/bookings/**
          filters:
            - StripPrefix=1
        - id: payment
          uri: http://localhost:8084
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1
        - id: search
          uri: http://localhost:8087
          predicates:
            - Path=/api/search/**
          filters:
            - StripPrefix=1
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
