server:
  port: 8086
spring:
  application:
    name: reporting-service
  datasource:
    url: jdbc:postgresql://localhost:5432/booknplay_reporting
    username: postgres
    password: postgres
  batch:
    jdbc:
      initialize-schema: always
management:
  endpoints:
    web:
      exposure:
        include: health,info
