server:
  port: 8086
  servlet:
    context-path: /reporting-service
spring:
  application:
    name: reporting-service
  datasource:
    url: jdbc:postgresql://localhost:5432/booknplay_reporting
    username: postgres
    password: postgres
  jpa:
    properties:
      "[hibernate.dialect]": org.hibernate.dialect.PostgreSQLDialect
  batch:
    jdbc:
      initialize-schema: always
management:
  endpoints:
    web:
      exposure:
        include: health,info
