server:
  port: 8084
  servlet:
    context-path: /payment-service
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:postgresql://localhost:5432/booknplay_payment
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      "[hibernate.dialect]": org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: localhost:9092
management:
  endpoints:
    web:
      exposure:
        include: health,info
